@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_medium_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  src: url(fonts/metropolis/Webfonts/WOFF/Metropolis-Regular.woff) format('woff');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Metropolis, sans-serif;

  background: linear-gradient(rgb(0, 0, 18), rgb(37, 61, 103));
  background-attachment: fixed;
}

#initial-background {
  z-index: -2;
  position: fixed;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(rgb(62, 86, 128), rgb(241, 96, 58));
  opacity: 1;
  transition: opacity 0s linear;
}

p {
  font-size: 0.9em;
}

a {
  position: relative;
  color: rgb(39, 234, 255);
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.75rem;
}

a:hover {
  color: rgb(19, 214, 235);
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.75px;
  bottom: -2px;
  left: 0;
  background-color: rgb(19, 214, 235);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
}

#graphics {
  position: fixed;
  width: 100%;
  height: 100%;
}

#sun {
  position: absolute;
  transform-origin: center;
  transition: transform 1s;
}

#moon {
  position: absolute;
  transition: transform 1s;
}

.cloud {
  transition: transform 1s, opacity 1s;
}

.comet {
  transform-box: fill-box;
  transform-origin: center right;
}

.no-transition {
  transition: none !important;
}

.topmenu {
  list-style-type: none;
  margin-top: 15px;
}

.topmenu li {
  text-transform: uppercase;
  font-size: 1.25rem;
  display: inline-block;
  margin-left: 20px;
  color: #ffffff;
  opacity: 0.8;

  transition: opacity 1s;
}

.topmenu li a {
  font-size: 1em;
}

/* Hide underline for topmenu img */
#topmenu-img a:before {
  visibility: hidden;
}

.topmenu img {
  vertical-align: middle;
  width: 2.0rem;
}

#topmenu-img {
  margin-top: -1px;
  /*opacity: 1.0;*/
}

.topmenu li a {
  text-decoration: none;
  color: inherit;
}

.topmenu li:hover {
  opacity: 1.0;
  cursor: pointer;
}

.topmenu li a:before {
  bottom: 0;
  height: 1px;
  background-color: white;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.section-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-box {
  border-radius: 3px;
  padding: 20px;
  /*background: linear-gradient(to bottom right, #222222, #111111ee);*/
  background: linear-gradient(to bottom right, #222222aa, #11111188);
  /*background: linear-gradient(to bottom, #99999933, #99999911);*/
  color: #EEEEEE;

  display: inline-block;
  margin-top:    2rem;
  margin-bottom: 2rem;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.header-box {
  padding: 10px;
  margin-top:    0rem;
  margin-bottom: 0rem;
  flex-grow: 0;
  flex-shrink: 1;
}

.header-box h1 {
  margin: 0;
}

#section1 .content-box {
  max-width: 30rem;
}

#section1-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1-header img {
  border-radius: 50%;
  width: 6rem;
}

#section1-header h1 {
  font-size: 2rem;
  margin: 0.25em;
  margin-left: 0.75rem;
}

#section1-bottom-header {
  margin-top: 3em;
  text-align: center;
}

.img-container {
  display: inline-block;
}

.img-container img {
  /*background-color: #111111;*/
  border-radius: 50%;
  width: 3rem;
  margin-left:  0.5em;
  margin-right: 0.5em;

  filter: grayscale(90%);
  transition-property: filter;
  transition-duration: 0.5s;
}

.img-container img:hover {
  filter: grayscale(0%) !important;
}

.img-container h6 {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  text-align: center;
}

.img-container:hover h6 {
  opacity: 1;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 3rem;
  grid-row-gap: 0rem;
}

.job {
  display: flex;
  flex-direction: column;
  padding: 0;
  /*margin-bottom: 10vh;*/
}

.job .job-img {
  width: 25rem;
}

.job-info {
  /*flex: 1;*/
  flex-direction: column;
  padding: 1rem;
  padding-left:  2rem;
  padding-right: 2rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.job-company {
  white-space: nowrap;
  margin: 0;
}

.job-body {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;

  --slide-cascade-increment: 0.05s;
}

.job-body p {
  --slide-anim: fadetop;
}

.job-body ul {
  --slide-cascade-increment: 0.1s;
}

.job-link-p {
  --slide-anim: fadeleft !important;
}

.job-body .top-header {
  font-style: italic;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.job-body .header {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

.job p {
  font-size: 0.75em;
}

.accomplishments-ul {
  margin: 0;
  font-size: 0.75em;
  padding-left: 1em;
}

.accomplishments-ul li {
  line-height: 1.0rem;
}

.job .img-container img {
  width: 2.5rem;
}

.tech-container {
  text-align: center;
  --slide-anim: fadetop;
  --slide-cascade-increment: 0.1s;
}

.other-projects-links {
  list-style-type: none;
  padding-left: 5px;
  margin: 5px 0 5px;
}
.other-projects-links li {
  line-height: 120%;
}

#skills-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 2rem;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

/* Change some props specifically in skills */
.skill .img-container {
  position: relative;
  margin-right: 0.25rem;
}

.skill .img-container img {
  width: 2.75rem;
  filter: grayscale(40%);
  margin-bottom: 0em;
}

.skill .img-container h6 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.progress-bar {
  width: 250px;
  height: 12px;
  border-radius: 100px;
  background-color: #333333;
  /*background-color: #464646;*/
  overflow: hidden;

}

.progress-bar > span {
  display: block;
  height: 200%;
  float: left;
  filter: brightness(75%) saturate(150%);
  background: linear-gradient(to right, rgb(19, 214, 235), rgb(39, 234, 255));
              /*linear-gradient(to right, rgba(19, 214, 235, 0.1), rgba(39, 234, 255, 0.1));*/
  transform-origin: left;

  --slide-anim: growleft;
}

.degree h3, h6 {
  margin-top:    0;
  margin-bottom: 0.5em;
}

.degree-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.degree-header img {
  width: 2rem;
  margin-right: 10px;
}

.degree-header h3 {
  margin: 0;
  --slide-anim: fadetop;
}

.degree-body {
  margin-left: calc(2rem + 12px);
}

#contact ul {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  padding: 0;
  font-size: 0.9rem;
  list-style-type: none;
}

#contact ul li {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

#contact ul li img {
  filter: brightness(90%);
  width: 2rem;
}

#down-arrow {
  position: fixed;
  left: calc(50% - 30px);
  top:  calc(100vh - 70px);
  width:  30px;
  height: 30px;
  border-right:  5px solid #ffffff99;
  border-bottom: 5px solid #ffffff99;
  opacity: 0.5;
  transform: rotate(45deg);
  transition: border-color 0.5s, visibility 0.5s, opacity 0.5s;
}

#down-arrow:hover {
  border-color: #ffffff;
  cursor: pointer;
}