@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_medium_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  src: url(fonts/metropolis/Webfonts/WOFF/Metropolis-Regular.woff) format('woff');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Metropolis, sans-serif;

  /*background: linear-gradient(to bottom, #9ac0ff, #ff4e1f);*/
  /*background: linear-gradient(to bottom, #3e5680, #f1603a);*/
  background-attachment: fixed;
}

p {
  font-size: 0.9em;
}

#canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

main {
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
}

.topmenu {
  list-style-type: none;
  margin-top: 15px;
}

.topmenu li {
  text-transform: uppercase;
  font-size: 1.25rem;
  display: inline-block;
  margin-left: 20px;
  color: #ffffff;
  opacity: 0.8;

  transition: opacity 1s;
}

.topmenu img {
  vertical-align: middle;
  width: 2.0rem;
}

#topmenu-img {
  margin-top: -1px;
  /*opacity: 1.0;*/
}

.topmenu li a {
  text-decoration: none;
  color: inherit;
}

.topmenu li:hover {
  opacity: 1.0;
  cursor: pointer;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.section-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section {
}

.content-box {
  border-radius: 3px;
  padding: 20px;
  /*background: linear-gradient(to bottom right, #222222, #111111ee);*/
  background: linear-gradient(to bottom right, #222222aa, #11111188);
  /*background: linear-gradient(to bottom, #99999933, #99999911);*/
  color: #EEEEEE;

  display: inline-block;
  margin-top:    2rem;
  margin-bottom: 2rem;

  backdrop-filter: blur(4px);
}

.header-box {
  padding: 10px;
  margin-top:    0rem;
  margin-bottom: 0rem;
  flex-grow: 0;
  flex-shrink: 1;
}

.header-box h1 {
  margin: 0;
}

#section1 .content-box {
  max-width: 30rem;
}

#section1-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1-header img {
  border-radius: 50%;
  width: 6rem;
}

#section1-header h1 {
  font-size: 2rem;
  margin: 0.25em;
  margin-left: 0.75rem;
}

#section1-bottom-header {
  margin-top: 3em;
  text-align: center;
}

.img-container {
  display: inline-block;
}

.img-container img {
  /*background-color: #111111;*/
  border-radius: 50%;
  width: 3rem;
  margin-left:  0.5em;
  margin-right: 0.5em;

  filter: grayscale(90%);
  transition-property: filter;
  transition-duration: 0.5s;
}

.img-container img:hover {
  filter: grayscale(0%);
}

.img-container h6 {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  text-align: center;
}

.img-container:hover h6 {
  opacity: 1;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3rem;
}

.job {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 10vh;
}

.job .job-img {
  width: 25rem;
}

.job-info {
  /*flex: 1;*/
  flex-direction: column;
  padding: 1rem;
  padding-left:  2rem;
  padding-right: 2rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.job-company {
  white-space: nowrap;
  margin: 0;
}

.job-body {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
}

.job-body .top-header {
  font-style: italic;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.job-body .header {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

.job p {
  font-size: 0.75em;
}

.accomplishments-ul {
  margin: 0;
  font-size: 0.75em;
  padding-left: 1em;
}

.accomplishments-ul li {
  line-height: 1.0rem;
}

.job .img-container img {
  width: 2.5rem;
}

.tech-container {
  text-align: center;
}

.progress-bar {
  width: 200px;
  height: 12px;
  border-radius: 100px;
  background-color: #333333;
  overflow: hidden;

}

.progress-bar > span {
  display: block;
  height: 200%;
  background: linear-gradient(to right, #1e00ab, #0077f3),
              linear-gradient(to bottom, #004eff, #3b008b);
}

#down-arrow {
  position: fixed;
  left: calc(50% - 30px);
  top:  calc(100vh - 70px);
  width:  30px;
  height: 30px;
  border-right:  5px solid white;
  border-bottom: 5px solid white;
  opacity: 0.5;
  transform: rotate(45deg);
  transition: visibility 0.5s, opacity 0.5s;
}

#down-arrow:hover {
  opacity: 0.8;
  cursor: pointer;
}