@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-in {
  animation: slidein 0.5s ease-in-out;
}

.slide {
  opacity: 0;
}
